.message-bubble {
  width: fit-content;

  span {
    font-size: 0.8rem;
    margin-left: 0.8rem;
    color: rgb(134, 134, 134);
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.message-content {
  background-color: rgb(97, 95, 95);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.icon-btn {
  background-color: unset;
  border: none;
  color: rgb(85, 85, 85);
  transition: 0.1s;

  &:hover {
    color: rgb(201, 201, 201);
  }
}

.activeMark {
  color: rgb(206, 206, 206);
}
